---
import { getCollection } from "astro:content";

const services = await getCollection("services");
---

<section class="service-section fix section-padding">
  <div class="container">
    <div class="section-title text-center">
      <div class="sub-title wow fadeInUp">
        <span>our services</span>
      </div>
      <h2 class="split-text right">Explore Our All Catagories</h2>
    </div>
    <div class="row">
      {
        services.map((service) => (
          <div
            class="col-lg-6"
            data-aos="fade-up"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="1500"
          >
            <div class="service-card-items">
              <div class="service-thumb">
                <img src={service.data.image} alt={service.data.title} />
              </div>
              <div class="service-content">
                <h3>
                  <a href={service.data.link}>{service.data.title}</a>
                </h3>
                <p>{service.data.description}</p>
                <a href={service.data.link} class="link-btn">
                  Read More <i class="far fa-long-arrow-right" />
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
