---
interface ServiceCard {
  id: number;
  image: string;
  title: string;
  description: string;
  link: string;
}

const serviceCards: ServiceCard[] = [
  {
    id: 1,
    image: "/assets/img/service/wedding.png",
    title: "Wedding Cards",
    description:
      "There are many variations of passages of Lorem Ipsum available, but the majority have suffered. There are many variations",
    link: "service-details.html",
  },
  {
    id: 2,
    image: "/assets/img/service/flyers.png",
    title: "Flyers",
    description:
      "There are many variations of passages of Lorem Ipsum available, but the majority have suffered. There are many variations",
    link: "service-details.html",
  },
  {
    id: 3,
    image: "/assets/img/service/broucher.png",
    title: "Brochures",
    description:
      "There are many variations of passages of Lorem Ipsum available, but the majority have suffered. There are many variations",
    link: "service-details.html",
  },
  {
    id: 4,
    image: "/assets/img/service/flex.png",
    title: "Banners",
    description:
      "There are many variations of passages of Lorem Ipsum available, but the majority have suffered. There are many variations",
    link: "service-details.html",
  },
  {
    id: 4,
    image: "/assets/img/service/lightboard.png",
    title: "LightBoard",
    description:
      "There are many variations of passages of Lorem Ipsum available, but the majority have suffered. There are many variations",
    link: "service-details.html",
  },
  {
    id: 4,
    image: "/assets/img/service/acrylic.png",
    title: "Acrylic Boards",
    description:
      "There are many variations of passages of Lorem Ipsum available, but the majority have suffered. There are many variations",
    link: "service-details.html",
  },
  {
    id: 4,
    image: "/assets/img/service/vinyl.png",
    title: "Vinyl Stickers",
    description:
      "There are many variations of passages of Lorem Ipsum available, but the majority have suffered. There are many variations",
    link: "service-details.html",
  },
  {
    id: 4,
    image: "/assets/img/service/sunboard.png",
    title: "Sunboard",
    description:
      "There are many variations of passages of Lorem Ipsum available, but the majority have suffered. There are many variations",
    link: "service-details.html",
  },
  {
    id: 4,
    image: "/assets/img/service/offset.png",
    title: "Offset Printing",
    description:
      "There are many variations of passages of Lorem Ipsum available, but the majority have suffered. There are many variations",
    link: "service-details.html",
  },
  {
    id: 4,
    image: "/assets/img/service/screen.png",
    title: "Screen Printing",
    description:
      "There are many variations of passages of Lorem Ipsum available, but the majority have suffered. There are many variations",
    link: "service-details.html",
  },
];
---

<section class="service-section fix section-padding">
  <div class="container">
    <div class="section-title text-center">
      <div class="sub-title wow fadeInUp">
        <span>our services</span>
      </div>
      <h2 class="split-text right">Explore Our All Catagories</h2>
    </div>
    <div class="row">
      {
        serviceCards.map((card) => (
          <div
            class="col-lg-6"
            data-aos="fade-up"
            data-aos-anchor-placement="top-bottom"
            data-aos-duration="1500"
          >
            <div class="service-card-items">
              <div class="service-thumb">
                <img src={card.image} alt={card.title} />
              </div>
              <div class="service-content">
                <h3>
                  <a href={card.link}>{card.title}</a>
                </h3>
                <p>{card.description}</p>
                <a href={card.link} class="link-btn">
                  Read More <i class="far fa-long-arrow-right" />
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
