---
import { getCollection } from "astro:content";

const products = await getCollection("products");

const navItems = [
  { id: "Business", label: "Business Cards", delay: "0.2s" },
  { id: "Books", label: "Books & Prints", delay: "0.4s", active: true },
  { id: "Cloths", label: "T-shirt & Cloths", delay: "0.5s" },
  { id: "Card", label: "Invitation Card", delay: "0.6s" },
];
---

<section class="shop-section fix section-padding pt-8">
  <div class="container">
    <div class="section-title text-center">
      <div class="sub-title wow fadeInUp">
        <span>Features Product</span>
      </div>
      <h2 class="split-text right">Explore Features Product</h2>
    </div>
    <div class="product-header mt-4 mt-md-0">
      <ul class="nav">
        {
          navItems.map((item) => (
            <li class="nav-item wow fadeInUp" data-wow-delay={item.delay}>
              <a
                href={`#${item.id}`}
                data-bs-toggle="tab"
                class={`nav-link ${item.active ? "active" : ""}`}
              >
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="tab-content">
      {
        products.map((item) => (
          <div id={item.id} class={`tab-pane fade `}>
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="shop-items style-2">
                  <div class="shop-image">
                    <img src={item.data.image} alt={item.data.title} />
                    <ul class="product-icon d-grid justify-content-center align-items-center">
                      <li>
                        <a href="shop-cart.html">
                          <i class="far fa-heart" />
                        </a>
                      </li>
                      <li>
                        <a href="shop-details.html">
                          <i class="far fa-exchange" />
                        </a>
                      </li>
                      <li>
                        <a href="shop-details.html">
                          <i class="far fa-eye" />
                        </a>
                      </li>
                      <li>
                        <a href="shop-cart.html">
                          <i class="fal fa-cart-plus" />
                        </a>
                      </li>
                    </ul>
                    {item.data.offerText && (
                      <div class="offer-text">{item.data.offerText}</div>
                    )}
                  </div>
                  <div class="shop-content">
                    <h5>
                      <a href="shop-details.html">{item.data.title}</a>
                    </h5>
                    <ul class="price-list">
                      <li>
                        ${item.data.price}
                        {item.data.salePrice && (
                          <del>${item.data.salePrice}</del>
                        )}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
